@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #36eb33b8;
  color: white;
  padding: 5px 10px;
  @apply rounded-full;
}

@layer utilities {
  .box-shadow {
    box-shadow: 0px 4px 18px 0px #d3ffd5;
  }

  .drop-shadow {
    filter: drop-shadow(-6px 0 10px rgba(0, 0, 0, 0.2));
  }
}

.dropdown::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 50%;
  width: 8px;
  height: 8px;
  background-color: #fafafa;
  rotate: 45deg;
  border-top: 1px solid gray;
  border-left: 0.72px solid gray;
}


